<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto text-light">
    <h2>User info</h2>
    <% if @user.email == 'guest@example.com' %>
      <p>ゲストユーザーはユーザー情報の編集はできません。</p>
    <% else %>
      <%= form_with model:@user, local:true do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control name" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field:email, class: "form-control email" %>
        </div>

        <div class="form-group">
          <%= f.submit class: 'btn btn-secondary' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
